# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.dist-info/
*.egg

.env

# Backup files
*~
*.bak
*.swp

# Test and coverage reports
.coverage
.coverage.*
*.cover
*.log
nosetests.xml
test.xml
coverage.xml
*.hypothesis/
.cache

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MyPy
.mypy_cache/

# Pytest
.cache/

node_modules/


