{% block content %}

<h3>{{ list_name }}</h3>
<button class="add-item-btn" onclick="openItemModal()">Add Item</button>
<div class="item-list-div">
    {% if listItems %}
        <ul style="list-style-type:none">
            {% for item in listItems.all %}
                <li>
                    <div class="list-item">
                        <span onclick="openItemModal({ id: '{{ item.id }}', name: '{{ item.name }}', color: '{{ item.color }}' })" class="item-name" style="color: {{ item.color }};">{{ item.name }}</span>
                        <span class="cross-icon" onclick="markAsCompleted('{{ item.id }}')">
                            <i class="fas fa-check-circle"></i>
                        </span>
                         <span class="delete-icon" onclick="deleteItem('{{ item.id }}')" style="cursor: pointer;">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div><span>No items</span></div>
    {% endif %}
</div>

<!-- Completed Items Section -->
{% if completed_items %}
    <div class="completed">
        <h3>Completed Items</h3>
        <ul>
            {% for item in completed_items %}
                <li style="text-decoration:line-through; color: {{ item.color }}">{{ item.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div id="add-item-modal" style="display:none;">
    <div class="item-modal-content">
        <h2>Add New Item</h2>
        <form id="itemForm" method="POST" action="#">
            {% csrf_token %}
            {{ itemForm.as_p }}
            <input type="hidden" name="item_id" id="item_id" value="">
            <button type="submit">Save</button>
            <button type="button" onclick="document.getElementById('add-item-modal').style.display='none'">Cancel</button>
        </form>
        <div id="item_message"></div>
    </div>
</div>
{% endblock %}
